<html>
  <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>{{instance.title}}</h2>
      </div>

      <div class="row">
        <div
          class="
            col-lg-6
            pt-4 pt-lg-0
            content
            d-flex-column
            justify-content-center
          "
          data-aos="fade-up"
          meaning
        >
          <p>
            {{instance.body}} {% comment %} Lorem Ipsum is simply dummy text of
            the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially unchanged.
            {% endcomment %}
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
</html>
